h1{
  color: orangered;
}

#completed{
  margin-right: 5px;
}

#delete{
  margin: 0 5px 0 5px;

}

span{
  font-weight: bold;
}

.toggleSpan{
  /*text-decoration: line-through;*/
  font-style: italic;
  border: 1px dashed black;
  background-color: limegreen;
  margin-left: 5px;
  padding-right: 2px;
}

.test{
  opacity: .5;
  cursor: not-allowed;
}
